/* adapted from https://www.foolishdeveloper.com/2021/09/circular-progress-bar.html */

.circle-wrap {
  --diameter: 8rem;
  --radius: 4rem;
  --degrees: 20deg;
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  width: var(--diameter);
  height: var(--diameter);
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: var(--diameter);
  height: var(--diameter);
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, var(--diameter), var(--diameter), var(--radius));
}

.circle-wrap .inside-circle {
  width: calc(var(--diameter) - 26px);
  height: calc(var(--diameter) - 26px);
  border-radius: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-left: 13px;
  color: #121212;
  position: absolute;
  z-index: 100;
  font-size: 2rem;
}

.mask .fill {
  clip: rect(0px, var(--radius), var(--diameter), 0px);
  background-color: #ec0c0c;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(var(--degrees));
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--degrees));
  }
}
