
.book-wrapper {
  display: flex;
  width: 75rem;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: white;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}