.App {
  text-align: center;
}

section {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 2.3rem 6.25rem;
  background-color: #fafafa;
}

#books-list {
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
}

hr {
  color: #e8e8e8;
}

button:hover {
  cursor: pointer;
}
